body {
    background-color: #551f1f;
    color: white;
    font-family: "Playfair Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Playfair Display", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
